In [1]:
#Imported Libraries
import numpy as np
import pandas as pd

In [2]:
#Open csv file
df=pd.read_csv(r"C:\Users\hp\Desktop\New folder - Copy\Bluestacks\OpenSea_NFT_Sale.csv")
df.head(10)

C:\Users\hp\AppData\Local\Temp\ipykernel_6804\266006784.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\hp\Desktop\New folder - Copy\Bluestacks\OpenSea_NFT_Sale.csv")

,sales_datetime,id,asset.id,asset.name,asset.collection.name,asset.collection.short_description,asset.permalink,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
0,2019-01-01 15:48:57,7453402,0,NaN,NaN,NaN,NaN,150000000000000000,Ether,4119.5000,0,0xf8856124ea157d6f26472e38224ee6744ad13af3,Farm4Ace,0x7ebc7e83cb2b43deafa82eb0ae8b5daea3fe9a13,Uncategorized
1,2019-01-01 23:50:55,7461241,0,NaN,NaN,NaN,NaN,120000000000000000,Ether,4119.5000,0,0xf29db2342a9dcb1bba4f7f2b1029bdd8ae5c0668,NaN,0x8691271d453022a447320ed82bcb2a30ba949d03,Uncategorized
2,2019-01-02 16:44:58,7471818,0,NaN,NaN,NaN,NaN,100000000000000000,Ether,4119.5000,0,0x057dc43af6187a931e78a56b3293912a5b42e5ec,hagoromo,0xff60e23eb04b76c699e3d180617c3245cbcafd78,Uncategorized
3,2019-01-03 06:31:46,7485269,0,NaN,NaN,NaN,NaN,10000000000000000,Ether,4119.5000,0,0x112ab3e7440b6e6b5c0fe0245579755dd78285b3,NaN,0xa58d0065cb381c80db1487e09ec803cd26a26264,Uncategorized
4,2019-01-03 10:31:43,7487454,0,NaN,NaN,NaN,NaN,249580457577544250,Ether,4119.5000,0,0x889463ce0946ec870c6e9a5a42a0e85c6d1a20fd,OffTheBlockChainAxies,0x445ba6f9f553872fa9cdc14f5c0639365b39c140,Uncategorized
5,2019-01-04 23:00:12,7521008,0,NaN,NaN,NaN,NaN,6000000000,NaN,0.0171,0,0x246819f4bd184bdac1521155390c180afeb6be6b,comerclap,0xf796b8fb98c7c98fd4b5424ced013820d1f2ee76,Uncategorized
6,2019-01-05 15:54:29,7529283,0,NaN,NaN,NaN,NaN,3000000000000000000,Ether,4119.5000,0,0xd63de3ee4197fda5040d6045a3d4202c3b80f4dd,NaN,0xa621de726b1a71bf961354a57b9be62b77900d19,Uncategorized
7,2019-01-05 16:03:58,7529370,0,NaN,NaN,NaN,NaN,200000000000000000,Ether,4119.5000,0,0x91f04ffe5aa427e977086746e7b9e1b997f2afa8,yu,0xe531544db533d5fdb6bdbbb1f8f5ee9545e94109,Uncategorized
8,2019-01-05 23:55:47,7533758,0,NaN,NaN,NaN,NaN,45000000000000000,Ether,4119.5000,0,0x1f4b10ffb832581ae5a975ed38eeac9f4e960bdf,untitledid,0x057dc43af6187a931e78a56b3293912a5b42e5ec,Uncategorized
9,2019-01-06 05:04:11,7534679,0,NaN,NaN,NaN,NaN,1629681488392175610,Ether,4119.5000,0,0x3904d7debce689933d4e10d245e714cbadb50c0e,0x3904d7debce689933d4e10d245e714cbadb50c0e,0xc074e40867818df9c264bb48bad75366d2a80868,Uncategorized

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5252254 entries, 0 to 5252253
Data columns (total 15 columns):
 #   Column                              Dtype
---  ------                              -----
 0   sales_datetime                      object
 1   id                                  int64
 2   asset.id                            int64
 3   asset.name                          object
 4   asset.collection.name               object
 5   asset.collection.short_description  object
 6   asset.permalink                     object
 7   total_price                         object
 8   payment_token.name                  object
 9   payment_token.usd_price             float64
 10  asset.num_sales                     int64
 11  seller.address                      object
 12  seller.user.username                object
 13  winner_account.address              object
 14  Category                            object
dtypes: float64(1), int64(3), object(11)
memory usage: 601.1+ MB

A total of 5252254 rows and 15 columns

In [5]:
df.columns

Index(['sales_datetime', 'id', 'asset.id', 'asset.name',
       'asset.collection.name', 'asset.collection.short_description',
       'asset.permalink', 'total_price', 'payment_token.name',
       'payment_token.usd_price', 'asset.num_sales', 'seller.address',
       'seller.user.username', 'winner_account.address', 'Category'],
      dtype='object')

In [6]:
df.describe()

                 id      asset.id  payment_token.usd_price  asset.num_sales
count  5.252254e+06  5.252254e+06             5.248459e+06     5.252254e+06
mean   1.103596e+09  5.279998e+07             3.747108e+03     1.346143e+02
std    6.814816e+08  3.056443e+07             3.263174e+02     1.075532e+03
min    7.447194e+06  0.000000e+00             7.100000e-11     0.000000e+00
25%    5.999819e+08  3.341926e+07             3.734400e+03     1.000000e+00
50%    1.056272e+09  4.598099e+07             3.753880e+03     2.000000e+00
75%    1.463017e+09  6.580656e+07             3.812780e+03     3.000000e+00
max    2.694165e+09  1.791784e+08             4.774700e+04     1.816800e+04

In [7]:
#Cleaning Data
df.isna().sum()

sales_datetime                              0
id                                          0
asset.id                                    0
asset.name                             305726
asset.collection.name                   48785
asset.collection.short_description    5200602
asset.permalink                         48783
total_price                                 0
payment_token.name                       1164
payment_token.usd_price                  3795
asset.num_sales                             0
seller.address                              0
seller.user.username                   584833
winner_account.address                      0
Category                                    0
dtype: int64

In [8]:
df=df.drop('asset.collection.short_description',axis=1)
df

,sales_datetime,id,asset.id,asset.name,asset.collection.name,asset.permalink,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
0,2019-01-01 15:48:57,7453402,0,NaN,NaN,NaN,150000000000000000,Ether,4119.50,0,0xf8856124ea157d6f26472e38224ee6744ad13af3,Farm4Ace,0x7ebc7e83cb2b43deafa82eb0ae8b5daea3fe9a13,Uncategorized
1,2019-01-01 23:50:55,7461241,0,NaN,NaN,NaN,120000000000000000,Ether,4119.50,0,0xf29db2342a9dcb1bba4f7f2b1029bdd8ae5c0668,NaN,0x8691271d453022a447320ed82bcb2a30ba949d03,Uncategorized
2,2019-01-02 16:44:58,7471818,0,NaN,NaN,NaN,100000000000000000,Ether,4119.50,0,0x057dc43af6187a931e78a56b3293912a5b42e5ec,hagoromo,0xff60e23eb04b76c699e3d180617c3245cbcafd78,Uncategorized
3,2019-01-03 06:31:46,7485269,0,NaN,NaN,NaN,10000000000000000,Ether,4119.50,0,0x112ab3e7440b6e6b5c0fe0245579755dd78285b3,NaN,0xa58d0065cb381c80db1487e09ec803cd26a26264,Uncategorized
4,2019-01-03 10:31:43,7487454,0,NaN,NaN,NaN,249580457577544250,Ether,4119.50,0,0x889463ce0946ec870c6e9a5a42a0e85c6d1a20fd,OffTheBlockChainAxies,0x445ba6f9f553872fa9cdc14f5c0639365b39c140,Uncategorized
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5252249,2021-11-29 07:27:49,2232084052,115052697,"#86 - ""Fret For Your Prozac""",~MyriadMeaning~,https://opensea.io/assets/0x495f947276749ce646...,0,Ether,3734.98,1,0x14b78b9fe0af98145e57f2a1b8a66044ab6a9eff,PiratesBootyGallery,0xaeb2707eda1e201cb13aa80b915bc3979d7e33a0,Uncategorized
5252250,2021-12-03 07:06:44,2301205938,102476305,#67 - MOLD,~MyriadMeaning~,https://opensea.io/assets/0x495f947276749ce646...,8000000000000000,Ether,3833.11,1,0x609b9fc66519fb5fa855b8427fb482bca63cd423,KillMePlease,0x42b018ffce9498915e530ca0f871d6f7144b9acc,Uncategorized
5252251,2021-03-06 06:09:07,82596530,18310514,A Gentle Breeze,~~ A e s t h e t i c ~~,https://opensea.io/assets/0x495f947276749ce646...,20000000000000000,Wrapped Ether,3809.16,1,0x974a344968786201a5f2e282014098f1333aa73b,VisualSensation,0xe7e30b515304b0d4e2cf919c449f1d2ec77b1319,Uncategorized
5252252,2021-03-29 11:33:23,94187279,19807908,Gas Fees,~~ A e s t h e t i c ~~,https://opensea.io/assets/0x495f947276749ce646...,10000000000000000,Ether,3802.82,1,0x974a344968786201a5f2e282014098f1333aa73b,VisualSensation,0x263108604e0c9e1f6cdcf698e160cd563635a328,Uncategorized
5252253,2021-10-22 19:55:25,1496067215,44025727,beyond death do us part,~~dreamscapes~~,https://opensea.io/assets/0x495f947276749ce646...,250000000000000000,Ether,3823.39,1,0xe1937e7b7d7e1ca362d54a4a52234a01cdcc8ff5,artbibop_,0xd6f812e5f0ae8f5298d9793d6d8f48d7c66b04b8,Uncategorized

In [9]:
df.isna().sum()

sales_datetime                  0
id                              0
asset.id                        0
asset.name                 305726
asset.collection.name       48785
asset.permalink             48783
total_price                     0
payment_token.name           1164
payment_token.usd_price      3795
asset.num_sales                 0
seller.address                  0
seller.user.username       584833
winner_account.address          0
Category                        0
dtype: int64

In [10]:
#Column 14 unique values
unique_values=df['Category'].unique()
unique_values

array(['Uncategorized', 'Trading Cards', 'Collectibles', 'Art',
       'Photography', 'Music', 'Sports', 'Utility', 'Domain',
       'Virtual Worlds'], dtype=object)

In [11]:
value_counts=df['Category'].value_counts()
value_counts

Collectibles      2904079
Art               1145826
Uncategorized      513537
Virtual Worlds     282409
Utility            252446
Trading Cards       84564
Sports              25928
Domain              16687
Music               15279
Photography         11499
Name: Category, dtype: int64

In [12]:
df['asset.name'].value_counts()

Page                                  11771
888 Genesis                            8715
Personality Pod - Level 1 - X/8008     6989
NFT Yourself                           6056
Metakey: Edition 4 - The Captain       4737
                                      ...
Fjll #444                                 1
Fjll #311                                 1
Fjll #724                                 1
Fjll #467                                 1
beyond death do us part                   1
Name: asset.name, Length: 3052092, dtype: int64

In [13]:
df['payment_token.name'].value_counts()

Ether                4954604
Wrapped Ether         257616
Decentraland MANA      10498
USD Coin                4727
SAND                    4360
                      ...
Firefly Token              1
ZeroUtility                1
deleted 33                 1
Pixel V2                   1
YugiToken                  1
Name: payment_token.name, Length: 184, dtype: int64

In [14]:
df['payment_token.usd_price'].value_counts()

3732.310000    183840
3824.220000    146424
3820.790000    143162
3830.480000    142715
3770.940000    141847
                ...
33.510000           1
2.420000            1
0.010067            1
0.072816            1
0.150922            1
Name: payment_token.usd_price, Length: 794, dtype: int64

In [15]:
df['seller.user.username'].value_counts()

24px                    9577
sneakyninjapants        9101
Alethea_AI              7919
ENS                     7255
YellowHeartFactories    6159
                        ...
T__W                       1
a-jin                      1
M2Ds_Collections           1
WorldofSweets              1
SDJJP                      1
Name: seller.user.username, Length: 242257, dtype: int64

In [16]:
df['asset.num_sales'].value_counts()

1       2284834
2       1373946
3        646037
4        280854
5        123360
         ...
1851          1
676           1
772           1
613           1
1091          1
Name: asset.num_sales, Length: 1786, dtype: int64

In [17]:
df['seller.address'].value_counts()

0xefe708e6dd941e29965f34f4c5c6e78f0ebe3f5b    9577
0xbdd95abe8a7694ccd77143376b0fbea183e6a740    9101
0x0738f702d1a7364d356729cb8845701885c487a1    7919
0x0904dac3347ea47d208f3fd67402d039a3b99859    7255
0x95a08c297ad5861734c4440fd5ac6b80a8bf9228    6159
                                              ...
0x75bec7b93eede691eea00ccd88a3507c350ee810       1
0x280a1fd38390bfd4a73086346262d02b41586aec       1
0x44063d7dfcad1dff8eec141ff78416cb65b3f4c1       1
0x4714b2a47bf5a4a87c6a7783e7bc454ba9f910aa       1
0xdf9efc3c865cf2e840589da37210d5048ba24862       1
Name: seller.address, Length: 314417, dtype: int64

In [18]:
df['winner_account.address'].value_counts()

0x0a267cf51ef038fc00e71801f5a524aec06e4f07    48160
0x8279648470eb92cbcd00ceb8ca30c2adfac20740     4682
0xb32b4350c25141e779d392c1dbe857b62b60b4c9     2637
0xee5280e9eb7b9d33ca03332db7382b24f4a2d009     2407
0xf52393e120f918ffba50410b90a29b1f8250c879     2008
                                              ...
0x4638f2cb0cf6d864f351a06d068e4afb642fafa2        1
0x4ded7e2543e52919bb606c2fa21ee14c49c923bc        1
0x12b45b721fc438ed95445d63763c7eab53af3e19        1
0xad6034c145530682ed7643478b6678e2e2bbaad6        1
0xd6f812e5f0ae8f5298d9793d6d8f48d7c66b04b8        1
Name: winner_account.address, Length: 617332, dtype: int64

In [19]:
df['total_price'].value_counts()

100000000000000000    194285
50000000000000000     155425
10000000000000000     143503
30000000000000000     110154
200000000000000000    109665
                       ...
19804855603597773          1
19804668262060835          1
19829385310812843          1
19997195343298767          1
18270000000000000          1
Name: total_price, Length: 80918, dtype: int64

In [20]:
df['asset.permalink'].value_counts()

https://opensea.io/assets/0xa7206d878c5c3871826dfdb42191c49b1d11f466/1                                                                                 11743
https://opensea.io/assets/0x36d30b3b85255473d27dd0f7fd8f35e36a9d6f06/888                                                                                8715
https://opensea.io/assets/0x86758d1c5ab95ff324f7e0b2cdec38c86eebe768/0                                                                                  6989
https://opensea.io/assets/0x557430421f8f3ed0a92aca211f1c05ad7b606288/0                                                                                  5790
https://opensea.io/assets/0x10daa9f4c0f985430fde4959adb2c791ef2ccf83/10004                                                                              4737
                                                                                                                                                       ...
https://opensea.io/assets/0x495f947276749ce646f68ac8c248420045cb7b5e/2649373373449264414507158118611039618013207405306325389224188592814079082497          1
https://opensea.io/assets/0x495f947276749ce646f68ac8c248420045cb7b5e/2649373373449264414507158118611039618013207405306325389224188420190753521665          1
https://opensea.io/assets/0x495f947276749ce646f68ac8c248420045cb7b5e/2649373373449264414507158118611039618013207405306325389224188464171218632705          1
https://opensea.io/assets/0x495f947276749ce646f68ac8c248420045cb7b5e/2649373373449264414507158118611039618013207405306325389224188597212125593601          1
https://opensea.io/assets/0x495f947276749ce646f68ac8c248420045cb7b5e/102030990399086411422994062896279686662649897054662520714956243165833450225665        1
Name: asset.permalink, Length: 3651729, dtype: int64

In [21]:
df['asset.collection.name'].value_counts()

Parallel Alpha                  42417
MyCryptoHeroes                  39479
The Sandbox                     24662
Wizards & Dragons Game (WnD)    20240
Rarible                         19760
                                ...
Nature Kiss                         1
Nature Deluxe                       1
Nature - k7aL5LdFJn                 1
Natural spring                      1
~~dreamscapes~~                     1
Name: asset.collection.name, Length: 51422, dtype: int64

In [22]:
df['asset.id'].value_counts()

0           48783
44596334    11743
48159964     8715
76676445     6989
18781782     5790
            ...
17764829        1
17765167        1
17764179        1
17764386        1
44025727        1
Name: asset.id, Length: 3651730, dtype: int64

In [23]:
df["id"].value_counts()

7453402       1
100274019     1
101641042     1
101636097     1
101625481     1
             ..
2459884177    1
2459884161    1
2459879295    1
2459879273    1
1496067215    1
Name: id, Length: 5252254, dtype: int64

In [24]:
df['sales_datetime']=pd.to_datetime(df['sales_datetime'])
df["sales_datetime"]

0         2019-01-01 15:48:57
1         2019-01-01 23:50:55
2         2019-01-02 16:44:58
3         2019-01-03 06:31:46
4         2019-01-03 10:31:43
                  ...
5252249   2021-11-29 07:27:49
5252250   2021-12-03 07:06:44
5252251   2021-03-06 06:09:07
5252252   2021-03-29 11:33:23
5252253   2021-10-22 19:55:25
Name: sales_datetime, Length: 5252254, dtype: datetime64[ns]

In [25]:
df['year']=df["sales_datetime"].dt.year
df['year']

0          2019
1          2019
2          2019
3          2019
4          2019
           ...
5252249    2021
5252250    2021
5252251    2021
5252252    2021
5252253    2021
Name: year, Length: 5252254, dtype: int64

In [26]:
df['year'].value_counts()

2021    5034779
2020     127238
2019      90235
2022          2
Name: year, dtype: int64

In [27]:
daily_data=df.resample('D',on="sales_datetime").sum()
daily_data

C:\Users\hp\AppData\Local\Temp\ipykernel_6804\2676652410.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily_data=df.resample('D',on="sales_datetime").sum()

,id,asset.id,payment_token.usd_price,asset.num_sales,year
sales_datetime,,,,,
2019-01-01,618538005,191348770,3.419428e+05,158,167577
2019-01-02,769331996,249504436,4.120016e+05,181,207957
2019-01-03,1048301441,336113843,5.602905e+05,239,282660
2019-01-04,960897441,305665902,5.150054e+05,249,258432
2019-01-05,971047921,297441272,5.232444e+05,230,260451
...,...,...,...,...,...
2021-12-28,3492953365566,178585407714,4.935301e+06,213765,2667720
2021-12-29,3648864316798,174584203272,5.111544e+06,215465,2772812
2021-12-30,3600303763806,175302351416,5.036563e+06,390349,2722287
2021-12-31,4055296776121,177859769285,5.644090e+06,273296,3049689
2022-01-01,5388328973,339223565,7.500560e+03,30,4044

Dealing  with null values(missing values)

In [28]:
df.shape

(5252254, 15)

In [29]:
df.isna().sum()

sales_datetime                  0
id                              0
asset.id                        0
asset.name                 305726
asset.collection.name       48785
asset.permalink             48783
total_price                     0
payment_token.name           1164
payment_token.usd_price      3795
asset.num_sales                 0
seller.address                  0
seller.user.username       584833
winner_account.address          0
Category                        0
year                            0
dtype: int64

In [30]:
#Created new category for null values
df['asset.name']=df['asset.name'].fillna('unknown')
df['seller.user.username']=df['seller.user.username'].fillna('unknown')

In [31]:
df.isna().sum()

sales_datetime                 0
id                             0
asset.id                       0
asset.name                     0
asset.collection.name      48785
asset.permalink            48783
total_price                    0
payment_token.name          1164
payment_token.usd_price     3795
asset.num_sales                0
seller.address                 0
seller.user.username           0
winner_account.address         0
Category                       0
year                           0
dtype: int64

In [32]:
#Filling missing values with mean
df['payment_token.usd_price']=df['payment_token.usd_price'].fillna(df['payment_token.usd_price'].mean())

In [33]:
#Deleting rows with null values
df=df.dropna()

In [34]:
df.isna().sum()

sales_datetime             0
id                         0
asset.id                   0
asset.name                 0
asset.collection.name      0
asset.permalink            0
total_price                0
payment_token.name         0
payment_token.usd_price    0
asset.num_sales            0
seller.address             0
seller.user.username       0
winner_account.address     0
Category                   0
year                       0
dtype: int64

In [35]:
df['date']=df['sales_datetime'].dt.date
df['date']

C:\Users\hp\AppData\Local\Temp\ipykernel_6804\4235852256.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date']=df['sales_datetime'].dt.date

48785      2021-08-12
48786      2021-08-12
48787      2021-08-14
48788      2021-08-14
48789      2021-08-16
              ...
5252249    2021-11-29
5252250    2021-12-03
5252251    2021-03-06
5252252    2021-03-29
5252253    2021-10-22
Name: date, Length: 5202350, dtype: object

In [36]:
df['month']=df['sales_datetime'].dt.month
df['month']

C:\Users\hp\AppData\Local\Temp\ipykernel_6804\888353349.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month']=df['sales_datetime'].dt.month

48785       8
48786       8
48787       8
48788       8
48789       8
           ..
5252249    11
5252250    12
5252251     3
5252252     3
5252253    10
Name: month, Length: 5202350, dtype: int64

In [37]:
df.head()

,sales_datetime,id,asset.id,asset.name,asset.collection.name,asset.permalink,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category,year,date,month
48785,2021-08-12 08:20:14,490127224,36309701,DEAD -01,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x64cd629e020dc1131bd18b7a80c0656341d89038,Uncategorized,2021,2021-08-12,8
48786,2021-08-12 19:47:55,495251447,36330253,DEAD -07,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,2,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x5eb3f21ef75dbfd5f8e2b2fcfad88c9497c94720,Uncategorized,2021,2021-08-12,8
48787,2021-08-14 03:56:11,507555211,36781130,DEAD -13,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0xae06997625b4afbf88d537d1d416c8e1de27aac3,Uncategorized,2021,2021-08-14,8
48788,2021-08-14 12:37:30,512864663,36566965,DEAD -11,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x1d4bfeeae08be4069145460f8f765fdb6332bc90,Uncategorized,2021,2021-08-14,8
48789,2021-08-16 13:59:35,542059922,36315005,DEAD -03,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.09,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0xf2adc5447d48a456079ec2cdc13e25b0b43d5e04,Uncategorized,2021,2021-08-16,8

In [38]:
df.shape

(5202350, 17)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5202350 entries, 48785 to 5252253
Data columns (total 17 columns):
 #   Column                   Dtype
---  ------                   -----
 0   sales_datetime           datetime64[ns]
 1   id                       int64
 2   asset.id                 int64
 3   asset.name               object
 4   asset.collection.name    object
 5   asset.permalink          object
 6   total_price              object
 7   payment_token.name       object
 8   payment_token.usd_price  float64
 9   asset.num_sales          int64
 10  seller.address           object
 11  seller.user.username     object
 12  winner_account.address   object
 13  Category                 object
 14  year                     int64
 15  date                     object
 16  month                    int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(10)
memory usage: 714.4+ MB

In [40]:
df.head()

,sales_datetime,id,asset.id,asset.name,asset.collection.name,asset.permalink,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category,year,date,month
48785,2021-08-12 08:20:14,490127224,36309701,DEAD -01,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x64cd629e020dc1131bd18b7a80c0656341d89038,Uncategorized,2021,2021-08-12,8
48786,2021-08-12 19:47:55,495251447,36330253,DEAD -07,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,2,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x5eb3f21ef75dbfd5f8e2b2fcfad88c9497c94720,Uncategorized,2021,2021-08-12,8
48787,2021-08-14 03:56:11,507555211,36781130,DEAD -13,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0xae06997625b4afbf88d537d1d416c8e1de27aac3,Uncategorized,2021,2021-08-14,8
48788,2021-08-14 12:37:30,512864663,36566965,DEAD -11,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x1d4bfeeae08be4069145460f8f765fdb6332bc90,Uncategorized,2021,2021-08-14,8
48789,2021-08-16 13:59:35,542059922,36315005,DEAD -03,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.09,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0xf2adc5447d48a456079ec2cdc13e25b0b43d5e04,Uncategorized,2021,2021-08-16,8

In [41]:
#Check For duplicates
df.duplicated().sum()

0

In [42]:
df.head()

,sales_datetime,id,asset.id,asset.name,asset.collection.name,asset.permalink,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category,year,date,month
48785,2021-08-12 08:20:14,490127224,36309701,DEAD -01,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x64cd629e020dc1131bd18b7a80c0656341d89038,Uncategorized,2021,2021-08-12,8
48786,2021-08-12 19:47:55,495251447,36330253,DEAD -07,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,2,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x5eb3f21ef75dbfd5f8e2b2fcfad88c9497c94720,Uncategorized,2021,2021-08-12,8
48787,2021-08-14 03:56:11,507555211,36781130,DEAD -13,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0xae06997625b4afbf88d537d1d416c8e1de27aac3,Uncategorized,2021,2021-08-14,8
48788,2021-08-14 12:37:30,512864663,36566965,DEAD -11,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x1d4bfeeae08be4069145460f8f765fdb6332bc90,Uncategorized,2021,2021-08-14,8
48789,2021-08-16 13:59:35,542059922,36315005,DEAD -03,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.09,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0xf2adc5447d48a456079ec2cdc13e25b0b43d5e04,Uncategorized,2021,2021-08-16,8

In [43]:
#Manipulation of the dataset
#Comparing seller.address and seller.user.username
df.drop("seller.address",axis=1)
df['Seller']=df['seller.user.username']
df['Seller']

C:\Users\hp\AppData\Local\Temp\ipykernel_6804\2026590424.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Seller']=df['seller.user.username']

48785                 DEADCLUB
48786                 DEADCLUB
48787                 DEADCLUB
48788                 DEADCLUB
48789                 DEADCLUB
                  ...
5252249    PiratesBootyGallery
5252250           KillMePlease
5252251        VisualSensation
5252252        VisualSensation
5252253              artbibop_
Name: Seller, Length: 5202350, dtype: object

In [44]:
df.head()

,sales_datetime,id,asset.id,asset.name,asset.collection.name,asset.permalink,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category,year,date,month,Seller
48785,2021-08-12 08:20:14,490127224,36309701,DEAD -01,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x64cd629e020dc1131bd18b7a80c0656341d89038,Uncategorized,2021,2021-08-12,8,DEADCLUB
48786,2021-08-12 19:47:55,495251447,36330253,DEAD -07,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,2,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x5eb3f21ef75dbfd5f8e2b2fcfad88c9497c94720,Uncategorized,2021,2021-08-12,8,DEADCLUB
48787,2021-08-14 03:56:11,507555211,36781130,DEAD -13,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0xae06997625b4afbf88d537d1d416c8e1de27aac3,Uncategorized,2021,2021-08-14,8,DEADCLUB
48788,2021-08-14 12:37:30,512864663,36566965,DEAD -11,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x1d4bfeeae08be4069145460f8f765fdb6332bc90,Uncategorized,2021,2021-08-14,8,DEADCLUB
48789,2021-08-16 13:59:35,542059922,36315005,DEAD -03,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.09,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0xf2adc5447d48a456079ec2cdc13e25b0b43d5e04,Uncategorized,2021,2021-08-16,8,DEADCLUB

In [45]:
mask=df['seller.address']==df['winner_account.address']
mask.unique()

array([False,  True])

In [46]:
#Same addresses in both seller and winner_account address
# check which values in column seller.address are in column winner_account.address
is_in_B = df['seller.address'].isin(df['winner_account.address'])
is_in_B

48785      False
48786      False
48787      False
48788      False
48789      False
           ...
5252249     True
5252250    False
5252251    False
5252252    False
5252253    False
Name: seller.address, Length: 5202350, dtype: bool

In [47]:
counts = df['seller.address'][is_in_B].value_counts()

counts

0xbdd95abe8a7694ccd77143376b0fbea183e6a740    9065
0x0904dac3347ea47d208f3fd67402d039a3b99859    7255
0x95a08c297ad5861734c4440fd5ac6b80a8bf9228    6159
0xd387a6e4e84a6c86bd90c158c6028a58cc8ac459    5326
0xb1f629cb1b6841e5ac98aa5b1cffab1b6c88d8b7    4838
                                              ...
0x3d73fd62d0b66298db126cc1b16ce279810faedb       1
0x65b72d3c8c11c61ebabe7a35e25ca78295f5973b       1
0xe4ef7b81034f9ef1ad2fc27c683f3976b2eab3e3       1
0x2bb22b64bac8ae41417e1f571717005d63ca1288       1
0x1fc1d46d195a8649adb5188a2506fa62e07d0654       1
Name: seller.address, Length: 221935, dtype: int64

In [61]:
#Check if the seller.address sold NFT to the same address
# compare the values in columns A and B
comparison = df['seller.address'] == df['winner_account.address']

print(comparison)
counts = comparison.groupby(comparison).size()
print(counts)

48785      False
48786      False
48787      False
48788      False
48789      False
           ...
5252249    False
5252250    False
5252251    False
5252252    False
5252253    False
Length: 5202350, dtype: bool
False    5202325
True          25
dtype: int64

In [78]:
selected_rows = df[df['seller.address'] == df['winner_account.address']]
selected_rows

,sales_datetime,id,asset.id,asset.name,asset.collection.name,asset.permalink,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category,year,date,month,Seller
400488,2019-01-16 02:06:18,7716291,2127702,Axie #9193,Axie Infinity,https://opensea.io/assets/0xf5b0a3efb8e8e4c201...,10000000000000000,Wrapped Ether,4125.58,4,0xe96a1b303a1eb8d04fb973eb2b291b8d591c8f72,alex,0xe96a1b303a1eb8d04fb973eb2b291b8d591c8f72,Virtual Worlds,2019,2019-01-16,1,alex
1233028,2019-01-18 00:44:14,7746179,2538308,Prometheus Voucher,CryptoSpaceCommanders,https://opensea.io/assets/0x4d3814d4da8083b418...,350000000000000000,Wrapped Ether,4125.58,2,0xf862c9413f2cc21ebfda534ecfa6df4f59f0b197,Unity,0xf862c9413f2cc21ebfda534ecfa6df4f59f0b197,Collectibles,2019,2019-01-18,1,Unity
1233029,2019-01-18 01:10:45,7746376,2601634,Prometheus Voucher,CryptoSpaceCommanders,https://opensea.io/assets/0x4d3814d4da8083b418...,350000000000000000,Wrapped Ether,4125.58,2,0xf862c9413f2cc21ebfda534ecfa6df4f59f0b197,Unity,0xf862c9413f2cc21ebfda534ecfa6df4f59f0b197,Collectibles,2019,2019-01-18,1,Unity
1233030,2019-01-18 01:26:26,7746504,2538349,Intrepid Voucher,CryptoSpaceCommanders,https://opensea.io/assets/0x4d3814d4da8083b418...,100000000000000000,Wrapped Ether,4125.58,2,0xf862c9413f2cc21ebfda534ecfa6df4f59f0b197,Unity,0xf862c9413f2cc21ebfda534ecfa6df4f59f0b197,Collectibles,2019,2019-01-18,1,Unity
1233031,2019-01-18 01:28:35,7746551,2538346,Corsair Voucher ID #3804,CryptoSpaceCommanders,https://opensea.io/assets/0x4d3814d4da8083b418...,150000000000000000,Wrapped Ether,4125.58,3,0xf862c9413f2cc21ebfda534ecfa6df4f59f0b197,Unity,0xf862c9413f2cc21ebfda534ecfa6df4f59f0b197,Collectibles,2019,2019-01-18,1,Unity
1233034,2019-01-18 14:16:31,7754469,2601673,Prometheus Voucher,CryptoSpaceCommanders,https://opensea.io/assets/0x4d3814d4da8083b418...,350000000000000000,Wrapped Ether,4125.58,2,0x57f2f154f87944582396da5f0703abefe4d16397,Cryptonaut,0x57f2f154f87944582396da5f0703abefe4d16397,Collectibles,2019,2019-01-18,1,Cryptonaut
1608262,2019-01-18 15:41:49,7755249,1985465,infected.eth,ENS NIFTY,https://opensea.io/assets/0x7c523c42ad255e5b27...,10000000000000000,Wrapped Ether,4125.58,1,0x8b80ed6202b0c760ea5e681e57d064e4d91f30c1,unknown,0x8b80ed6202b0c760ea5e681e57d064e4d91f30c1,Uncategorized,2019,2019-01-18,1,unknown
1715964,2019-01-18 04:29:03,7749150,1172120,Buda Castle,Ethermon,https://opensea.io/assets/0xbfde6246df72d3ca86...,1830000000000000000,Wrapped Ether,4125.58,2,0x672a9beec51db4e06b3f99ae68ce6efb80706483,fujitea,0x672a9beec51db4e06b3f99ae68ce6efb80706483,Collectibles,2019,2019-01-18,1,fujitea
2550101,2019-09-17 08:40:11,15234714,3394411,[Unopened]Bounty#1195,LORDLESS,https://opensea.io/assets/0xb9250c9581e4594b7c...,10000000000000000,Wrapped Ether,4081.03,3,0x9d28a6e8997b70a5745aa320e76382083b9b046c,TheVast,0x9d28a6e8997b70a5745aa320e76382083b9b046c,Collectibles,2019,2019-09-17,9,TheVast
2889487,2021-04-15 18:08:30,112128677,21467476,Muses,Mintbase CS,https://opensea.io/assets/0xa3fe4f8996efa27501...,1300000000000000000,Wrapped Ether,3809.16,7,0xc52351897e3295286ce38775e3741fb81bee928d,ChainSaw,0xc52351897e3295286ce38775e3741fb81bee928d,Uncategorized,2021,2021-04-15,4,ChainSaw
2889488,2021-04-15 18:11:00,112129805,21467476,Muses,Mintbase CS,https://opensea.io/assets/0xa3fe4f8996efa27501...,1100000000000000000,Wrapped Ether,3809.16,7,0xc52351897e3295286ce38775e3741fb81bee928d,ChainSaw,0xc52351897e3295286ce38775e3741fb81bee928d,Uncategorized,2021,2021-04-15,4,ChainSaw
2889489,2021-04-15 18:42:58,112141970,21467476,Muses,Mintbase CS,https://opensea.io/assets/0xa3fe4f8996efa27501...,1160000000000000000,Wrapped Ether,3809.16,7,0xc52351897e3295286ce38775e3741fb81bee928d,ChainSaw,0xc52351897e3295286ce38775e3741fb81bee928d,Uncategorized,2021,2021-04-15,4,ChainSaw
2889490,2021-04-15 20:34:46,112209952,21467476,Muses,Mintbase CS,https://opensea.io/assets/0xa3fe4f8996efa27501...,1200000000000000000,Wrapped Ether,3809.16,7,0xc52351897e3295286ce38775e3741fb81bee928d,ChainSaw,0xc52351897e3295286ce38775e3741fb81bee928d,Uncategorized,2021,2021-04-15,4,ChainSaw
2889491,2021-04-16 09:47:41,112841323,21467476,Muses,Mintbase CS,https://opensea.io/assets/0xa3fe4f8996efa27501...,1100000000000000000,Wrapped Ether,3809.16,7,0xc52351897e3295286ce38775e3741fb81bee928d,ChainSaw,0xc52351897e3295286ce38775e3741fb81bee928d,Uncategorized,2021,2021-04-16,4,ChainSaw
2889492,2021-04-17 14:50:12,114539827,21467476,Muses,Mintbase CS,https://opensea.io/assets/0xa3fe4f8996efa27501...,1100000000000000000,Wrapped Ether,3809.16,7,0xc52351897e3295286ce38775e3741fb81bee928d,ChainSaw,0xc52351897e3295286ce38775e3741fb81bee928d,Uncategorized,2021,2021-04-17,4,ChainSaw
2889493,2021-04-17 14:52:31,114544127,21467476,Muses,Mintbase CS,https://opensea.io/assets/0xa3fe4f8996efa27501...,1100000000000000000,Wrapped Ether,3809.16,7,0xc52351897e3295286ce38775e3741fb81bee928d,ChainSaw,0xc52351897e3295286ce38775e3741fb81bee928d,Uncategorized,2021,2021-04-17,4,ChainSaw
3057255,2019-01-16 09:32:40,7720113,2516040,MCH Extension: #20050027 Lv.70,MyCryptoHeroes,https://opensea.io/assets/0xdceaf1652a131f32a8...,280000000000000000,Wrapped Ether,4125.58,2,0x813074b9a3c964c51ac66b841c2577a3ce1062f6,unknown,0x813074b9a3c964c51ac66b841c2577a3ce1062f6,Virtual Worlds,2019,2019-01-16,1,unknown
3057423,2019-01-17 17:25:47,7740047,1977905,MCH Hero: #30050047 Lv.80,MyCryptoHeroes,https://opensea.io/assets/0x273f7f8e6489682df7...,250000000000000000,Wrapped Ether,4125.58,3,0xd718b31115927c7a60165423b357ba59b7e38643,Nota,0xd718b31115927c7a60165423b357ba59b7e38643,Virtual Worlds,2019,2019-01-17,1,Nota
3057435,2019-01-17 23:46:23,7744799,2706745,MCH Extension: #30080039 Lv.80,MyCryptoHeroes,https://opensea.io/assets/0xdceaf1652a131f32a8...,300000000000000000,Wrapped Ether,4125.58,3,0x62b8b7b7af7cb5847dd7335e0b6b4229cd1b7d48,Tipwilsooooon,0x62b8b7b7af7cb5847dd7335e0b6b4229cd1b7d48,Virtual Worlds,2019,2019-01-17,1,Tipwilsooooon
3057454,2019-01-18 04:30:37,7749160,2675499,MCH Extension: #30010877 Lv.80,MyCryptoHeroes,https://opensea.io/assets/0xdceaf1652a131f32a8...,120000000000000000,Wrapped Ether,4125.58,1,0xf009d057f8210c380c68d383aa7ffee8f9e6df74,nini,0xf009d057f8210c380c68d383aa7ffee8f9e6df74,Virtual Worlds,2019,2019-01-18,1,nini
3057473,2019-01-18 07:12:05,7750583,2721304,MCH Hero: #30100056 Lv.80,MyCryptoHeroes,https://opensea.io/assets/0x273f7f8e6489682df7...,1000000000000000000,Wrapped Ether,4125.58,3,0x6ce19fc58c6f91d4b0f2b910cdad2a4f258a665d,Ruan,0x6ce19fc58c6f91d4b0f2b910cdad2a4f258a665d,Virtual Worlds,2019,2019-01-18,1,Ruan
3057482,2019-01-18 08:47:43,7751373,2716564,MCH Extension: #30020305 Lv.80,MyCryptoHeroes,https://opensea.io/assets/0xdceaf1652a131f32a8...,250000000000000000,Wrapped Ether,4125.58,2,0xf009d057f8210c380c68d383aa7ffee8f9e6df74,nini,0xf009d057f8210c380c68d383aa7ffee8f9e6df74,Virtual Worlds,2019,2019-01-18,1,nini
3057515,2019-01-18 18:08:37,7757347,2720524,MCH Extension: #30020819 Lv.80,MyCryptoHeroes,https://opensea.io/assets/0xdceaf1652a131f32a8...,230000000000000000,Wrapped Ether,4125.58,2,0xf009d057f8210c380c68d383aa7ffee8f9e6df74,nini,0xf009d057f8210c380c68d383aa7ffee8f9e6df74,Virtual Worlds,2019,2019-01-18,1,nini
3057518,2019-01-18 18:16:34,7757483,2720827,MCH Hero: #30100158 Lv.80,MyCryptoHeroes,https://opensea.io/assets/0x273f7f8e6489682df7...,650000000000000000,Wrapped Ether,4125.58,2,0xd718b31115927c7a60165423b357ba59b7e38643,Nota,0xd718b31115927c7a60165423b357ba59b7e38643,Virtual Worlds,2019,2019-01-18,1,Nota
3058228,2019-01-24 13:45:24,7872181,2366383,MCH Hero: #40140067 Lv.90,MyCryptoHeroes,https://opensea.io/assets/0x273f7f8e6489682df7...,1300000000000000000,Wrapped Ether,4125.58,1,0x8c5fc43ad00cc53e11f61bece329ddc5e3ea0929,tarumikei,0x8c5fc43ad00cc53e11f61bece329ddc5e3ea0929,Virtual Worlds,2019,2019-01-24,1,tarumikei

In [79]:
df.head()

,sales_datetime,id,asset.id,asset.name,asset.collection.name,asset.permalink,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category,year,date,month,Seller
48785,2021-08-12 08:20:14,490127224,36309701,DEAD -01,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x64cd629e020dc1131bd18b7a80c0656341d89038,Uncategorized,2021,2021-08-12,8,DEADCLUB
48786,2021-08-12 19:47:55,495251447,36330253,DEAD -07,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,2,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x5eb3f21ef75dbfd5f8e2b2fcfad88c9497c94720,Uncategorized,2021,2021-08-12,8,DEADCLUB
48787,2021-08-14 03:56:11,507555211,36781130,DEAD -13,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0xae06997625b4afbf88d537d1d416c8e1de27aac3,Uncategorized,2021,2021-08-14,8,DEADCLUB
48788,2021-08-14 12:37:30,512864663,36566965,DEAD -11,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.31,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x1d4bfeeae08be4069145460f8f765fdb6332bc90,Uncategorized,2021,2021-08-14,8,DEADCLUB
48789,2021-08-16 13:59:35,542059922,36315005,DEAD -03,! DEAD !,https://opensea.io/assets/0x495f947276749ce646...,5000000000000000,Ether,3732.09,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0xf2adc5447d48a456079ec2cdc13e25b0b43d5e04,Uncategorized,2021,2021-08-16,8,DEADCLUB

In [80]:
df.shape

(5202350, 18)