In [1]:
import pandas as pd
import numpy as np

# create a sample time series with missing values
dates = pd.date_range(start='2022-01-01', end='2022-01-10')
data = [1, 2, None, 4, None, 6, 7, None, None, 10]
ts = pd.Series(data, index=dates)

# fill missing values using forward fill
ts_ffill = ts.fillna(method='bfill')

# print the imputed time series
print(ts_ffill)

2022-01-01     1.0
2022-01-02     2.0
2022-01-03     4.0
2022-01-04     4.0
2022-01-05     6.0
2022-01-06     6.0
2022-01-07     7.0
2022-01-08    10.0
2022-01-09    10.0
2022-01-10    10.0
Freq: D, dtype: float64

In [2]:
#Interpolation
import pandas as pd
import numpy as np

# create a sample time series with missing values
index = pd.date_range('2022-01-01', periods=10, freq='D')
values = [1, 2, np.nan, 4, np.nan, 6, 7, np.nan, np.nan, 10]
ts = pd.Series(values, index=index)

# interpolate missing values using linear interpolation
ts_interp = ts.interpolate()

# print the imputed time series
print(ts_interp)

2022-01-01     1.0
2022-01-02     2.0
2022-01-03     3.0
2022-01-04     4.0
2022-01-05     5.0
2022-01-06     6.0
2022-01-07     7.0
2022-01-08     8.0
2022-01-09     9.0
2022-01-10    10.0
Freq: D, dtype: float64

In [4]:
# create a list
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# slice the list to extract elements from index 3 to index 6
middle = my_list[3:7]
middle

[3, 4, 5, 6]

In [6]:
# slice the list to extract every other element starting from index 2
every_other = my_list[2:]
every_other

[2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
# slice the list to extract every element starting from index 1 up to but not including the last element
last_to_second = my_list[-10:-1]
last_to_second

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
#Open csv file
df=pd.read_csv(r"C:\Users\hp\Desktop\New folder - Copy\Bluestacks\OpenSea_NFT_Sale.csv",parse_dates=['sales_datetime'])
df.head(10)

C:\Users\hp\AppData\Local\Temp\ipykernel_10080\103142191.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\hp\Desktop\New folder - Copy\Bluestacks\OpenSea_NFT_Sale.csv",parse_dates=['sales_datetime'])

,sales_datetime,id,asset.id,asset.name,asset.collection.name,asset.collection.short_description,asset.permalink,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
0,2019-01-01 15:48:57,7453402,0,NaN,NaN,NaN,NaN,150000000000000000,Ether,4119.5000,0,0xf8856124ea157d6f26472e38224ee6744ad13af3,Farm4Ace,0x7ebc7e83cb2b43deafa82eb0ae8b5daea3fe9a13,Uncategorized
1,2019-01-01 23:50:55,7461241,0,NaN,NaN,NaN,NaN,120000000000000000,Ether,4119.5000,0,0xf29db2342a9dcb1bba4f7f2b1029bdd8ae5c0668,NaN,0x8691271d453022a447320ed82bcb2a30ba949d03,Uncategorized
2,2019-01-02 16:44:58,7471818,0,NaN,NaN,NaN,NaN,100000000000000000,Ether,4119.5000,0,0x057dc43af6187a931e78a56b3293912a5b42e5ec,hagoromo,0xff60e23eb04b76c699e3d180617c3245cbcafd78,Uncategorized
3,2019-01-03 06:31:46,7485269,0,NaN,NaN,NaN,NaN,10000000000000000,Ether,4119.5000,0,0x112ab3e7440b6e6b5c0fe0245579755dd78285b3,NaN,0xa58d0065cb381c80db1487e09ec803cd26a26264,Uncategorized
4,2019-01-03 10:31:43,7487454,0,NaN,NaN,NaN,NaN,249580457577544250,Ether,4119.5000,0,0x889463ce0946ec870c6e9a5a42a0e85c6d1a20fd,OffTheBlockChainAxies,0x445ba6f9f553872fa9cdc14f5c0639365b39c140,Uncategorized
5,2019-01-04 23:00:12,7521008,0,NaN,NaN,NaN,NaN,6000000000,NaN,0.0171,0,0x246819f4bd184bdac1521155390c180afeb6be6b,comerclap,0xf796b8fb98c7c98fd4b5424ced013820d1f2ee76,Uncategorized
6,2019-01-05 15:54:29,7529283,0,NaN,NaN,NaN,NaN,3000000000000000000,Ether,4119.5000,0,0xd63de3ee4197fda5040d6045a3d4202c3b80f4dd,NaN,0xa621de726b1a71bf961354a57b9be62b77900d19,Uncategorized
7,2019-01-05 16:03:58,7529370,0,NaN,NaN,NaN,NaN,200000000000000000,Ether,4119.5000,0,0x91f04ffe5aa427e977086746e7b9e1b997f2afa8,yu,0xe531544db533d5fdb6bdbbb1f8f5ee9545e94109,Uncategorized
8,2019-01-05 23:55:47,7533758,0,NaN,NaN,NaN,NaN,45000000000000000,Ether,4119.5000,0,0x1f4b10ffb832581ae5a975ed38eeac9f4e960bdf,untitledid,0x057dc43af6187a931e78a56b3293912a5b42e5ec,Uncategorized
9,2019-01-06 05:04:11,7534679,0,NaN,NaN,NaN,NaN,1629681488392175610,Ether,4119.5000,0,0x3904d7debce689933d4e10d245e714cbadb50c0e,0x3904d7debce689933d4e10d245e714cbadb50c0e,0xc074e40867818df9c264bb48bad75366d2a80868,Uncategorized

In [30]:
import pandas as pd

# create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [2, 4, 6, 8, 10]})

# check which values in column A are in column B
is_in_B = df['A'].isin(df['B'])

print(is_in_B)

0    False
1     True
2    False
3     True
4    False
Name: A, dtype: bool

In [23]:
counts = df['A'][is_in_B].value_counts()

print(counts)

2    1
4    1
Name: A, dtype: int64

In [27]:
import pandas as pd

# create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [1, 2, 3, 4, 10]})

# compare the values in columns A and B
comparison = df['A'] == df['B']

print(comparison)

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [28]:
selected_rows = df[ df['A'] == df['B'] ]

print(selected_rows)

   A  B
0  1  1
1  2  2
2  3  3
3  4  4

In [29]:
import pandas as pd

# create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]})

# select the rows to be deleted
to_delete = [1, 3]

# delete the selected rows
df = df.drop(index=to_delete)

# display the resulting DataFrame
print(df)

   A  B   C
0  1  5   9
2  3  7  11

In [31]:
import pandas as pd

# create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]}, index=['a', 'b', 'c', 'd'])

# slice the DataFrame using loc
sliced_df = df.loc[['b', 'c'], ['A', 'C']]

# display the sliced DataFrame
print(sliced_df)

   A   C
b  2  10
c  3  11